{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block title %}
  {{ product.name }}
{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{ product.image.url }}" class="img-fluid" alt="{{ product.name }}">
    </div>


          <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Дякуємо за ваше замовлення!</h4>
            <p>Ваше замовлення прийнято. Наш менеджер зв'яжеться з вами найближчим часом для уточнення деталей.</p>
            <hr>
            <p class="mb-0">Час доставки: протягом 2-3 робочих днів</p>
            
            <p class="mb-0">Пошта на яку прийде повідомлення: {{user.email}}</p>
            <p class="mb-0">Номер телефону: {{user.phone_number}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
