{% extends "base.html" %} {%load static%} {% block content %}
<div class="container">
  <div class="card border-dark">
    <div class="card-header bg-white text-black">Кошик</div>
    <ul class="list-group list-group-flush">
      <!-- Перший товар -->
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col-4">
            <img src="https://via.placeholder.com/100" alt="Товар 1" class="img-fluid rounded" />
          </div>
          <div class="col-8">
            <h6 class="mb-1">Назва товару 1</h6>
            <p class="mb-1">Опис товару, який може бути трохи довшим</p>
            <p class="mb-1">Кількість: 2</p>
            <p class="mb-1">Ціна: $50</p>
          </div>
        </div>
      </li>
      <!-- Другий товар -->
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col-4">
            <img src="https://via.placeholder.com/100" alt="Товар 2" class="img-fluid rounded" />
          </div>
          <div class="col-8">
            <h6 class="mb-1">Назва товару 2</h6>
            <p class="mb-1">Опис товару, який може бути трохи довшим</p>
            <p class="mb-1">Кількість: 1</p>
            <p class="mb-1">Ціна: $30</p>
          </div>
        </div>
      </li>
      <!-- Третій товар -->
      <li class="list-group-item">
        <div class="row align-items-center">
          <div class="col-4">
            <img src="https://via.placeholder.com/100" alt="Товар 3" class="img-fluid rounded" />
          </div>
          <div class="col-8">
            <h6 class="mb-1">Назва товару 3</h6>
            <p class="mb-1">Опис товару, який може бути трохи довшим</p>
            <p class="mb-1">Кількість: 3</p>
            <p class="mb-1">Ціна: $20</p>
          </div>
        </div>
      </li>
    </ul>
    <!-- Кінцева ціна -->
    <div class="card-footer bg-white text-dark text-center">
      <h6>Загальна вартість: $170</h6>
      <button type="button" class="btn btn-primary mt-3">
        Оформити замовлення
      </button>
    </div>
  </div>
</div>
{% endblock content %}