{% load static %}
{% load carts_tags %}
{% user_carts request as carts %}

<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cartModalLabel">Кошик</h5>

      </div>
      {% for cart in carts %}
      <div class="modal-body">
        <div class="row item">
          <div class="col-md-3">
            <img src="{{cart.product.image.url}}" alt="фото" class="img-fluid">
          </div>
          <div class="col-md-6">
            <p>{{cart.product.name}} - {{cart.product.discount_price}} грн</p>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <a href="{% url 'cart:cart_change' cart.product.slug %}" class="btn btn-outline-secondary btn-minus" type="button">-</a>
              </div>
              <input type="text" class="form-control quantity-input" value="{{cart.quantity}}">
              <div class="input-group-append">
                <a href="{% url 'cart:cart_add' cart.product.slug %}" class="btn btn-outline-secondary btn-plus" type="button">+</a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <p>Ітого: <span class="total-price"> {{cart.products_price}}</span></p>
          </div>
        </div>
      </div>
      <hr>
      {% endfor %}

      <div class="modal-footer">
        <p>Ітогова ціна: {{carts.total_price}}</p>
        
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрити</button>
        <a href="{% url 'orders:done_order' user.id %}" data-dismiss="modal" type="button" style="background-color: #624325bf; border-color:rgba(255, 255, 255, 0)" class="btn btn-primary">Замовити</a>

      </div>
    </div>
  </div>
</div>



</body>
</html>