{%load static%}

<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {% block title %}{% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom/style.css' %}">
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <!-- Логотип та назва магазину -->
        <a class="navbar-brand" href="{% url 'main:index' %}">EASY4U</a>

        <!-- Кнопка для мобільних пристроїв (відображається при вузькому екрані) -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Навігаційне меню -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            {% if not user.is_authenticated %}  
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user:login' %}">Війти</a>
              </li>
            {% else%}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user:logout' %}">Вийти</a>
              </li>
            {% endif %}


            {% if user.is_admin or user.is_staff %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'admin:index' %}">Адмін панель</a>
              </li>
            {% endif %}

            <li class="nav-item active">
              <a class="nav-link" href="#">Кошик</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'catalog:catalog' category_slug='all' %}">Каталог</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:contact' %}">Контакти</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'main:info' %}">Про нас</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    {% block content %}
      
    {% endblock content %}

    <footer>
      <div class="container">
        <div class="social-icons mb-3">
          <a href="#" title="Facebook"><i class="fab fa-facebook"
              style="color: #3b5998;"></i></a>
          <a href="#" title="Twitter"><i class="fab fa-twitter"
              style="color: #00aced;"></i></a>
          <a href="#" title="Instagram"><i class="fab fa-instagram"
              style="color: #3f729b;"></i></a>
        </div>
        <span class="mr-2">info@example.com</span>
        <span>(123) 456-7890</span>

        <p>&copy; 2024 EASY4U. Усі права захищені.</p>
      </div>
    </footer>

    <!-- Підключаємо скрипти Bootstrap (jQuery та Popper.js) -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
