.productcol {
  margin-left: 100px;
  padding-top: 30px;
}
* {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 12;
  font-style: normal;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}
a {
  color: #521d1d; /* Черный цвет для ссылок */
  /* text-decoration: none; */
}
body {
  background-color: #ffffff; /* Білий колір фону */
}
nav {
  background-color: #ffffff; /* Білий колір фону */
}
.card {
  border: 2px solid rgba(0, 0, 0, 0.1); /* Обводка картки */
  background-color: rgba(255, 255, 255, 0.8); /* Прозорий білий колір фону */
}
.card-footer button.btn-primary {
  background-color: #5c49499a; /* Зелений колір для кнопок */
  border-color: #28a74600;
}
.card-footer button.btn-primary:hover {
  background-color: #443333d2; /* Темно-зелений колір при наведенні */
  border-color: #28a74600;
}
footer {
  background-color: #f8f9fa; /* Світло-сірий колір фону */
  padding: 20px 0;
  text-align: center;
}
.social-icons {
  font-size: 36px;
  margin-bottom: 20px;
}
.social-icons a {
  margin: 0 10px;
  color: #000; /* Колір іконок */
  transition: color 0.3s ease;
}
.social-icons a:hover {
  color: #007bff; /* Колір іконок при наведенні */
}

.custom_input input{
  border-radius: 15px;
  width: 100%;
  height: 68px;
  box-shadow: 0 14px 4px 0 rgba(0, 0, 0, 0.25);
  background: #ffffff;
  margin: 5px 0 15px 0;
}

.custom_input input:valid {
  background: #e3e0e0;

}

.login-btn {
  color: white;
  border-radius: 15px;
  width: 500px;
  height: 68px;
  box-shadow: 0 14px 4px 0 rgba(0, 0, 0, 0.25);
  background: #624325bf;
  margin-bottom: 15px;


}
.login-btn:hover {
  background: #573c21e3;
  box-shadow: 0 7px 4px 0 rgba(0, 0, 0, 0.25);
  transition: background-color 0.6s ease;
  transition: box-shadow 0.6s ease;


}
footer{
  margin-top: 150px;

}

.pagination .page-link {
  color: rgba(70, 35, 35, 0.724); /* Коричневий колір тексту */
  background-color: transparent; /* Прозорий фон */
  border: 1px solid rgba(70, 35, 35, 0.724); /* Коричнева рамка */
}

.pagination .page-link:hover {
  color: #fff; /* Колір тексту при наведенні */
  background-color: rgba(70, 35, 35, 0.724); /* Фоновий колір при наведенні */
  border: 1px solid rgba(70, 35, 35, 0.724); /* Колір межі при наведенні */
}

.pagination .page-item.active .page-link {
  color: #fff; /* Колір тексту активної сторінки */
  background-color: rgba(70, 35, 35, 0.724); /* Фоновий колір активної сторінки */
  border: 1px solid rgba(70, 35, 35, 0.724); /* Колір межі активної сторінки */
}

.pagination .page-item.disabled .page-link {
  color: #999; /* Колір тексту відключеної сторінки */
  background-color: transparent; /* Прозорий фон відключеної сторінки */
  border: 1px solid #ddd; /* Колір межі відключеної сторінки */
}